<h1 class="display-2">My Tasks</h1>

  <dl class ="row">
    <% @tasks.each do |task| %>
      <dt class="col-sm-3"><%= link_to task.title, task_path(task) %></dt>
      <dd class="col-sm-9"><%= task.detail %></dd>
    <% end %>
  </dl>
<div class="bd-example p-20">
  <p class="icon-link"><%= link_to "New Task", new_task_path %>
  </p>
</div>
